:root {
  --color-light: #fff;
  --color-gray: #94a3b8;

  --color-dark: #282828;
  --color-dark-alt: #1e1e1e;

  --color-accent: #3b82f6;
  --color-dark-accent: #111827;

  --border-radius: 16px;
  --border-radius-small: 12px;
  --border-radius-large: 24px;

  --font-family-base: 'Inter', sans-serif;

  --transition-duration: 0.2s;
}
